.intro{

    font-size: 1.5em;
    line-height: 1.3em;
}

.left{
    text-align: left;
}

.white{
    color: whitesmoke;
}
.red{
    color: #EE2E22;
}

.red-background{
    background-color: #EE2E22 !important;
}

.highlight{
    text-align: center;
    font-size: 1.8em;
    background-color: #000000;
    padding: 15px;
    opacity: .5;
}

.aor-btn{
    font-weight: bold;
    color: #000000;
}

.real-test{
    float:right;
    margin-right: 99999px;
    overflow: hidden;
}


